<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Codepage="1252" UpgradeCode="{B8AC6D66-4B13-4B02-9E1D-7BC4E1FE87B9}" Manufacturer="EduPlay" ProductCode="{10D3BC55-ACA1-4BAA-933F-8DEFDE60D1E4}" Language="1033" Name="EduPlay PowerPoint Add-in" Version="1.0.9" Scope="perUser">
    <Binary Id="EduPlayPublisherCert" SourceFile="c:\Users\pc\Desktop\laptrinh\eduplay\v1.0.0-real\_msi_decompile\payload\Binary\EduPlayPublisherCert" />
    <Binary Id="IisCA_X64" SourceFile="c:\Users\pc\Desktop\laptrinh\eduplay\v1.0.0-real\_msi_decompile\payload\Binary\IisCA_X64" />
    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" ShortName="ozih-yyl" Name="EduPlayPowerPointAddin">
        <Component Id="AddinFiles" Guid="{F33B0329-1C2C-4D76-9B9B-19F7C928F0C8}" Bitness="always64">
          <File Id="EduPlayPowerPointAddinDll" ShortName="_vljl153.dll" Name="EduPlayPowerPointAddin.dll" KeyPath="yes" Source="SourceDir\File\EduPlayPowerPointAddinDll" />
          <File Id="EduPlayPowerPointAddinDllManifest" ShortName="vwchxqug.man" Name="EduPlayPowerPointAddin.dll.manifest" Source="SourceDir\File\EduPlayPowerPointAddinDllManifest" />
          <File Id="EduPlayPowerPointAddinVsto" ShortName="ffl_ofci.vst" Name="EduPlayPowerPointAddin.vsto" Source="SourceDir\File\EduPlayPowerPointAddinVsto" />
          <File Id="MicrosoftOfficeToolsCommonV4UtilitiesDll" ShortName="q5fy7hpu.dll" Name="Microsoft.Office.Tools.Common.v4.0.Utilities.dll" Source="SourceDir\File\MicrosoftOfficeToolsCommonV4UtilitiesDll" />
        </Component>
        <Component Id="AddinTrustedRootCert" Guid="{10C9BDF5-1EF2-4E07-97F6-80D6F0896E6B}" Bitness="always64" KeyPath="yes">
          <CreateFolder Directory="INSTALLFOLDER" />
        </Component>
        <Component Id="AddinTrustedPublisherCert" Guid="{F1D2F2A1-DB83-4DAB-82A3-552BF86175FD}" Bitness="always64" KeyPath="yes">
          <CreateFolder Directory="INSTALLFOLDER" />
        </Component>
        <Component Id="AddinRegistry" Guid="{D1EA5F1F-84A2-4B2B-8B22-61C5E6E468E1}" Bitness="always64">
          <RegistryValue Id="regTfDA_GYiPQh2HiwXKyI0OglfZeM" Key="Software\Microsoft\Office\PowerPoint\Addins\EduPlayPowerPointAddin" Name="FriendlyName" Root="HKCU" Type="string" Value="EduPlay PowerPoint Add-in" KeyPath="yes" />
          <RegistryValue Id="regEk_DbUXM7ow8w72FYeG67VNJSFQ" Key="Software\Microsoft\Office\PowerPoint\Addins\EduPlayPowerPointAddin" Name="Description" Root="HKCU" Type="string" Value="EduPlay PowerPoint Add-in" />
          <RegistryValue Id="regk7xdfLQEqFVTKeJwlGfjb.xYmQk" Key="Software\Microsoft\Office\PowerPoint\Addins\EduPlayPowerPointAddin" Name="LoadBehavior" Root="HKCU" Type="integer" Value="3" />
          <RegistryValue Id="regME6P0vOdhrQRlFgeRpTMojZM68w" Key="Software\Microsoft\Office\PowerPoint\Addins\EduPlayPowerPointAddin" Name="Manifest" Root="HKCU" Type="string" Value="[INSTALLFOLDER]EduPlayPowerPointAddin.vsto|vstolocal" />
        </Component>
        <Component Id="AddinResiliency" Guid="{1B3F0B26-5E2E-4D64-AF96-2B2B0F9D1F1C}" Bitness="always64">
          <RegistryValue Id="regB0Fuyu1k9niCRB7xAjpoIcOIcEc" Key="Software\Microsoft\Office\16.0\PowerPoint\Resiliency\DoNotDisableAddinList" Name="EduPlayPowerPointAddin" Root="HKCU" Type="integer" Value="1" KeyPath="yes" />
          <RegistryValue Id="regKVxrBbGvXGFi3Opj6KgXs3CJ0fU" Key="Software\Microsoft\Office\15.0\PowerPoint\Resiliency\DoNotDisableAddinList" Name="EduPlayPowerPointAddin" Root="HKCU" Type="integer" Value="1" />
        </Component>
      </Directory>
    </StandardDirectory>
    <CustomTable Id="Wix4Certificate">
      <Column Id="Certificate" Description="Identifier for the certificate in the package." KeyColumn="1" PrimaryKey="yes" Width="72" Category="identifier" Modularize="Column" Type="string" />
      <Column Id="Component_" Description="Foreign key into the Component table used to determine install state" Width="72" Category="identifier" Modularize="Column" Type="string" />
      <Column Id="Name" Description="Name to be used for the Certificate." Width="255" Category="formatted" Modularize="Property" Type="string" />
      <Column Id="StoreLocation" Description="Location of the target certificate store (CurrentUser == 1, LocalMachine == 2)" MaxValue="2" MinValue="1" Width="2" Type="int" />
      <Column Id="StoreName" Description="Name of the target certificate store" Width="64" Category="formatted" Modularize="Property" Type="string" />
      <Column Id="Attributes" Description="Attributes of the certificate" MaxValue="2147483647" MinValue="0" Width="4" Type="int" />
      <Column Id="Binary_" Description="Identifier to Binary table containing certificate." KeyTable="Binary" KeyColumn="1" Nullable="yes" Width="72" Category="identifier" Modularize="Column" Type="string" />
      <Column Id="CertificatePath" Description="Property to path of certificate." Nullable="yes" Width="0" Category="formatted" Modularize="Property" Type="string" />
      <Column Id="PFXPassword" Description="Hidden property to a pfx password" Nullable="yes" Width="0" Category="formatted" Modularize="Property" Type="string" />
      <Row>
        <Data Column="Certificate" Value="crtMaFhUarmZ.uV2dGRRSLO7dolSV8" />
        <Data Column="Component_" Value="AddinTrustedRootCert" />
        <Data Column="Name" Value="EduPlay PowerPoint Add-in (Dev)" />
        <Data Column="StoreLocation" Value="1" />
        <Data Column="StoreName" Value="Root" />
        <Data Column="Attributes" Value="10" />
        <Data Column="Binary_" Value="EduPlayPublisherCert" />
      </Row>
      <Row>
        <Data Column="Certificate" Value="crtMHWI3coYPByJuBUyTOSncs8_QOA" />
        <Data Column="Component_" Value="AddinTrustedPublisherCert" />
        <Data Column="Name" Value="EduPlay PowerPoint Add-in (Dev)" />
        <Data Column="StoreLocation" Value="1" />
        <Data Column="StoreName" Value="TrustedPublisher" />
        <Data Column="Attributes" Value="10" />
        <Data Column="Binary_" Value="EduPlayPublisherCert" />
      </Row>
    </CustomTable>
    <Feature Id="MainFeature" Title="EduPlay PowerPoint Add-in" Level="1">
      <ComponentRef Id="AddinFiles" />
      <ComponentRef Id="AddinTrustedRootCert" />
      <ComponentRef Id="AddinTrustedPublisherCert" />
      <ComponentRef Id="AddinRegistry" />
      <ComponentRef Id="AddinResiliency" />
    </Feature>
    <CustomAction Id="Wix4InstallCertificates_X64" BinaryRef="IisCA_X64" DllEntry="InstallCertificates" />
    <CustomAction Id="Wix4UninstallCertificates_X64" BinaryRef="IisCA_X64" DllEntry="UninstallCertificates" />
    <CustomAction Id="Wix4AddUserCertificate_X64" HideTarget="yes" TerminalServerAware="yes" Execute="deferred" BinaryRef="IisCA_X64" DllEntry="AddUserCertificate" />
    <CustomAction Id="Wix4AddMachineCertificate_X64" HideTarget="yes" Impersonate="no" Execute="deferred" BinaryRef="IisCA_X64" DllEntry="AddMachineCertificate" />
    <CustomAction Id="Wix4DeleteUserCertificate_X64" HideTarget="yes" TerminalServerAware="yes" Execute="deferred" BinaryRef="IisCA_X64" DllEntry="DeleteUserCertificate" />
    <CustomAction Id="Wix4DeleteMachineCertificate_X64" HideTarget="yes" Impersonate="no" Execute="deferred" BinaryRef="IisCA_X64" DllEntry="DeleteMachineCertificate" />
    <CustomAction Id="Wix4RollbackAddUserCertificate_X64" HideTarget="yes" TerminalServerAware="yes" Execute="rollback" BinaryRef="IisCA_X64" DllEntry="DeleteUserCertificate" />
    <CustomAction Id="Wix4RollbackAddMachineCertificate_X64" HideTarget="yes" Impersonate="no" Execute="rollback" BinaryRef="IisCA_X64" DllEntry="DeleteMachineCertificate" />
    <CustomAction Id="Wix4RollbackDeleteUserCertificate_X64" HideTarget="yes" TerminalServerAware="yes" Execute="rollback" BinaryRef="IisCA_X64" DllEntry="AddUserCertificate" />
    <CustomAction Id="Wix4RollbackDeleteMachineCertificate_X64" HideTarget="yes" Impersonate="no" Execute="rollback" BinaryRef="IisCA_X64" DllEntry="AddMachineCertificate" />
    <Media Id="1" Cabinet="cab1.cab" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of EduPlay PowerPoint Add-in is already installed." />
    <InstallExecuteSequence>
      <Custom Action="Wix4UninstallCertificates_X64" Condition="VersionNT &gt; 400" Before="RemoveFiles" />
      <Custom Action="Wix4InstallCertificates_X64" Condition="VersionNT &gt; 400" After="InstallFiles" />
    </InstallExecuteSequence>
  </Package>
</Wix>